.color {
  &--yellow {
    color: #fbc02d;
  }

  &--blue {
    color: #039be5;
  }

  &--purple {
    color: #5e35b1;
  }

  &--orange {
    color: #f4511e;
  }

  &--grey {
    color: #546e7a;
  }
}
